/* Set the min-width so that when the window is resized the look will stay consistant */

.charsheet {
	background-color: #ddd;
	min-width: 800px;
}

/* Universal styling applied to all elements of these types */

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	font-size: 5em;
	margin-top: 20px;
	text-align: center;
}

label {
    font-size: 1.2em;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 10%;
	display: inline-block;
	width: 31%;
}

input {
	display: inline-block;
}

img {
	max-height: 800px;
}

textarea {
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */
input.sheet-short {
	width: 17%;
}
input.sheet-vshort {
	width: 10%;
}

input.sheet-long {
    width: 50%;
}

input.sheet-med {
    width: 20%;
}

select.sheet-dtype {
    vertical-align: top;
    width: 17%;
}
span.sheet-dee {
	font-size: 1.4em;
	font-weight: bold;
	left: -36%;
	padding-right: 4px;
	position: relative;
	top: 3px;
}

/* Targetted styling that only effects elements contained within the stated class */
.sheet-stats h3 {
	display: inline-block;
	text-align: Right;
	width: 20%;
}

.sheet-stats h3:nth-child(2) {
	display: inline-block;
	text-align: Right;
	width: 17%;
}
.sheet-stats h3:nth-child(3) {
	display: inline-block;
	text-align: Right;
	margin-left: 23%;
	width: 12%;
}
.sheet-stats h3:nth-child(4) {
	display: inline-block;
	text-align: Right;
	width: 11%;
}
.sheet-stats h3:nth-child(5) {
	display: inline-block;
	text-align: Right;
	width: 11%;
}
.sheet-stats h4 {
	display: inline-block;
	text-align: Center;
	font-size: 1.2em;
	width: 20%;
}


.sheet-styles h3 {
	display: inline-block;
	text-align: Right;
}

.sheet-styles h3:first-child {
	margin-left: 5%;
	margin-right: 10%;
}

.sheet-styles h3:nth-child(2) {
	margin-left: 21%;
	margin-right: 6%;
}
